.meal-background {
  background: red;
  color: green;
  height: auto;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  opacity: 1;
}

.category-name {
  color: lightgray;
  background: none;
  margin-top: 1em;
  margin-bottom: 2em;
}

.meals-container {
  position: relative;
}

.meals {
  /* border: solid 1px red; */
  box-sizing: border-box;
  max-height: 320px;
  overflow: scroll;
  transform: translate(0, -20px);
  width: 95%;
  margin: 0 auto;
}
.meal-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.meal {
  background: #282c34;

  border-radius: 30px 0 30px 0;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 0.3em;
  position: relative;
  overflow: hidden;
  width: 95%;
}
.meal::before {
  content: '';
  background: rgba(240, 200, 180, 0.6);
  right: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 4px;
}

.meal-name {
  text-align: left;
  font-size: 20px;
  color: rgba(240, 200, 180, 1);
  text-align: center;
  margin: 0;
}

.meal-number {
  border-radius: 10px;
  border: solid 1px gray;
  color: gray;
  height: 20px;
  font-size: 14px;
  width: 20px;

  position: absolute;
  top: 10px;
  left: 10px;
}
.meal-ingredient {
  border-radius: 7px 0;
  color: gray;
  background: none;
  margin: 4px;
  padding: 5px;
  border: solid 1px gray;
}
